{% extends 'ergonotes/base.html' %}


{% block title %}{{ note }} - {{ block.super }}{% endblock %}


{% block content %}
  <section class="content" role="application">
    <div class="row">
      <div class="small-12 columns">
        <h1>{{ note }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <b>Prioridade:</b> {{ note.get_priority_display }}
      </div>
      <div class="small-12 medium-6 columns">
        <b>Markup:</b> {{ note.get_markup_display }}
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <b>Criado em:</b> {{ note.create_on }}
      </div>
      <div class="small-12 medium-6 columns">
        <b>Atualizado em:</b> {{ note.modify_on }}
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <b>Itens:</b> {{ note.get_count|default_if_none:'-' }}
      </div>
      <div class="small-12 medium-6 columns">
        <b>Mostrar no home:</b> {{ note.get_show_on_home_linkdisplay }}
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns small-text-center medium-text-right">
        <a class="button small alert fi-trash" href="{% url 'ergonotes:note_delete' note.pk %}" title="Apagar"></a>
        <a class="button small fi-download" href="{% url 'ergonotes:note_export' note.pk 'raw' %}" title="Expotar"></a>
        <a class="button small fi-page-export" href="{% url 'ergonotes:note_export' note.pk 'html' %}" title="Exportar HTML"></a>
        <a class="button small fi-pencil" href="{% url 'ergonotes:note_edit' note.pk %}" title="Editar"></a>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        {{ note.get_text_display }}
      </div>
    </div>
  </section>
{% endblock %}
