{% extends 'ergonotes/base.html' %}
{% load foundation %}


{% block title %}{% if note %}{{ note }}{% else %}Nova Nota{% endif %} - {{ block.super }}{% endblock %}


{% block content %}
  <section class="content" role="application">
    <form method="post">
      {% csrf_token %}
      {% foundation_form_hiddens form %}
      {% foundation_form_errors form %}
      <div class="row">
        <div class="small-12 columns">
          <h1>{{ note|default:'Nova Nota' }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          {% foundation_form_field form.title %}
        </div>
      </div>

      <div class="row">
        <div class="small-6 medium-4 columns">
          {% foundation_form_field form.priority %}
        </div>
        <div class="small-6 medium-4 columns">
          {% foundation_form_field form.show_on_home %}
        </div>
        <div class="small-12 medium-4 columns">
          {% foundation_form_field form.markup %}
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          {% foundation_form_field form.text %}
        </div>
      </div>

      <div class="row">
        {% if note %}
          <div class="small-12 medium-6 columns small-text-center medium-text-left">
            <a class="button small alert fi-trash" href="{% url 'ergonotes:note_delete' note.pk %}" title="Apagar"></a>
          </div>
        {% endif %}
        <div class="small-12 {% if note %}medium-6 {% endif %}columns small-text-center medium-text-right">
          <a class="button secondary" href="{% if note %}{{ note.get_absolute_url }}{% else %}{% url 'ergonotes:note_list' %}{% endif %}">Cancelar</a>
          <button type="submit">Salvar</button>
        </div>
      </div>
    </form>
  </section>
{% endblock %}
